.prodDetail img{ width: 80%
    ;
border-radius: 15px;}

.prodDetail{
    /* margin-top: 40px; */
    padding: 40px;
}
.purchase{
    padding-top: 40px;
    padding-bottom: 150px;
}
.detail{
    padding: 0 40px;
    color: rgb(92, 97, 97);
}

/* purchase form habdle */
.purchase{
    margin-right: auto;
    margin-left: auto;
}

.purchase form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.purchase form input{
    width: 50%;
    margin: 5px;
    padding: 5px;
}
.place-order-mainDiv{
    margin-bottom: 100px;
}
.purchase-form{
    padding: 40px;
}