.checkout{

    margin: 40px;
    padding: 20px;
}
.pay-btn{
    margin :20px;
    background-color: rgb(6, 201, 201);
    border-radius: 10px;
    font-weight: 500;
    padding:4px 10px;
}
.pay-btn:hover{
    color: whitesmoke;
    background-color: black;
}