.register-input input{
    margin:10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.register-input{
   margin-top: 40px;}

   .register-submit{
       background-color: rgb(37, 143, 161);
   }

   .regLink{
       text-decoration: none;
       color: tomato;
   }